# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Secrets
.env

# Pytest output
.pytest_cache/
allure-results/
test-results/
allure-report/
reports/
logs/

# Editors and OS files
.idea/
.vscode/
.DS_Store
